<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/']">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <h3>Editor</h3>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    [matMenuTriggerFor]="menu">
    <mat-icon>reorder</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['editor']">Editor</button>
      <button mat-menu-item [routerLink]="['admin']">Administrador</button>
    </mat-menu>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Crud open journal</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <div>
      <mat-form-field appearance="fill" style="margin-right: 5%;">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-right: 5%;" (click)="openDialog()">Create</button>
      <button mat-raised-button color="accent" style="margin-right: 5%;">Update</button>
      <button mat-raised-button color="warn" style="margin-right: 5%;">Delete</button>
    </div>
  </mat-card-content>
</mat-card>